body{

    background-color: rgb(0, 48, 114);
    padding: 10px;
}

*{
    margin: 0;
    box-sizing: border-box;
}

.hidden{

    display: none;
}

.page1{

    border: transparent;
}

.page1 h1{

    color: white;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20%;
    font-size: 50px;
    font-weight: bold;
}

.page1 p{

    color: white;
    text-align: justify;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 30%;
    font-size: 25px;
    padding: 10px;
}

.button{

    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    border: 1px solid white;
    border-radius: 40px;
    height: 70px;
}